$fontColor: #ffffff;
$colorHeading: #ffffff;
#carsContent  // div with id: content
{
    color: $fontColor;
}

body {
    background-image: url("https://images.wallpaperscraft.com/image/bmw_headlights_lights_137326_1920x1080.jpg");
    background-color: #cccccc;
   }

h2
{
    color: $colorHeading;
    text-align: center
}

h1{
    @extend h2;
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 10%;
    flex-wrap: nowrap;
    // background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    // background-color: white;
    padding: 20px;
  }